/* General Config */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --navbg: #ff6900;
    --footerbg: #1a1a1a;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.white{
    color: white;
}


/* width settings */
.w-12{
    width: 12%;
}

.w-90{
    width: 90%;
}
/* //width settings */

/* flex config */
.d-flex{
    display: flex;
}

/* //flex config */

/* list config */
ul{
    list-style: none;
}
/* //list config */
/* nav config */
nav{
    background-color: var(--navbg);
    position: fixed;
    width: 100%;
}

.navbar{
    padding: 1% 0;
    justify-content: space-between;
    align-items: center;
}

.filters{
    justify-content: space-between;
}



/* //nav config */