/* General Config */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Noto Sans', sans-serif;
}

:root{
    --navbg: #ff6900;
    --footerbg: #1a1a1a;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.white{
    color: white;
}


/* width settings */
.w-12{
    width: 12%;
}

.w-90{
    width: 90%;
}

.w-100{
    width: 100%;
}
/* //width settings */

/* flex config */
.d-flex{
    display: flex;
}

/* //flex config */

/* list config */
ul{
    list-style: none;
}
/* //list config */
/* nav config */
nav{
    background-color: var(--navbg);
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar{
    padding: 1% 0;
    justify-content: space-between;
    align-items: center;
    
}

.filters{
    justify-content: space-between;
}



/* //nav config */
.rowPosition{
    align-content: center;
    padding-top: 9%;
    
}

.row{
    flex-wrap: wrap;
    justify-content: space-between;
}
/* card config */

.card{
    width: 500px;
    height: 700px;
    position: relative;
    margin-bottom: 15px;
}
    
.imageSize{
    width: 90%;
    height: 90%;
}

.imageFirst{
   display: block;
}

.imageSecond{
    position: relative;
    top:0;
    bottom: 0;
    display: none;
}

/* hover config */
.image:hover .imageSecond{
    display: block;
}

.image:hover .imageFirst{
    display: none;
}
/* //hover config */

.heartContainer{
    background-color: white;
    color: red;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 2%;
    right: 10%;
    z-index: 1;
    width: 40px;
    height: 40px;
}

.extraContainer{
    position: absolute;
    bottom: 15%;
}
.extra{
    color: white;
    padding: 1px 6px;
}

.discount{
    background-color: red;
}
.sostenibility{
    background-color: green;
}
    
/* //card config */

/* item info config */
.info{
    height: 10%;
}
.discountPrice{
    color: red;
    font-weight: bold;
}

.price{
    text-decoration: line-through;
}
/* //item info config */

/* footer config */
footer{
    background-color: var(--footerbg);
    width: 100%;
    padding: 50px 0;
}

.societyInfo, .social{
    color: white;
}

.footerInfoContainer{
    justify-content: space-between;
    
}

.societyNav{
    justify-content: space-between;
}

.social{
    justify-content: center;
}

/* //footer config */